services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    volumes:
    - workdata:/app/work

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  workdata:
