services:
  pmd:
    image: ghcr.io/pmd/pmd:latest
    container_name: group7-pmd
    working_dir: /work
    volumes:
      # Putting the Java project we want to analyze inside pmd/target-repo
      - ./target-repo:/src:ro
      # Output goes here
      - ./out:/out
      # PMD configuration
      - ./config:/config:ro
    
    command: ["check", "-d", "/src", "-R", "/config/ruleset.xml", "-f", "json", "-r", "/out/pmd-report.json"]

    # Just for dev testing comment previous command and run the lines below instead from CLI
    # entrypoint: ["sh", "-lc"]
    # command: >
    #   echo "Running PMD on /src...";
    #   pmd check
    #     -d /src
    #     -R /config/ruleset.xml
    #     -f json
    #     -r /out/pmd-report.json
    #   || true;
    #   echo "PMD finished. Report: /out/pmd-report.json"
